:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.question-box {
    width: 90%;
    max-width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}

.question {
    font-size: 22px;
}

.answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.answer {
    width: 90%;
    height: 100px;
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer:hover {
    background-color: lightblue;
}

.answer.correct {
    pointer-events: none;
    background-color: green;
    color: white;
}

.answer.incorrect {
    pointer-events: none;
    background-color: red;
    color: white;
}

.answer.disabled {
    pointer-events: none;
}
